{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<h1>Summary</h1>

<table>
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Current Price</th>
            <th>Value</th>
            <th>Cash</th>
            <th>total</th>
        </tr>
    </thead>
    <tbody>
        {% for data in user_data %}
        <tr>
        <td>{{data.symbol}}</td>
        <td>{{data.shares}}</td>
        <td>{{data.price | usd}}</td>
        <td>{{data.value | usd}}</td>
        <td>{{data.cash | usd}}</td>
        <td>{{data.total | usd}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
